<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiBaseUrl" value="http://localhost:3000/api" />
    <add key="DatabaseFileName" value="pos_system.db" />
    <add key="TerminalId" value="POS-TERM-01" />
    <add key="DefaultCurrency" value="KES" />
    <add key="UsdExchangeRate" value="130" />
    <add key="TaxRate" value="0.16" />
  </appSettings>
</configuration>
